<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> - HIMAGE - 关于我们</title>
        <link rel="stylesheet" href="__ROOT__/Public/admin/admin.css">
    </head>
    	<center>
            HIMAGE  关于我们
			<include file="Public:header"/>
			<form name="frm" method="post" enctype="multipart/form-data" action="{:U('We/on')}">
		      <table border="1" width="" align="center" cellspacing="0" cellpadding="8">
		        <tr>
				   <th colspan="2">关于我们</th>
				</tr>
		        <tr>
		           <td>LOGO</td>
		           <td>
	           		<if condition="$we['we_logo']!=$z">
			           	 <img src="__ROOT__/Upload/We/{$we.we_logo}" style="max-width: 200px;"/>
			           	 <a href="__APP__/We/dlogo.html" onclick="if(confirm('确定删除当前LOGO?')==false)return false;">更换LOGO</a>
		           	<elseif condition="$we['we_logo']==$z"/>	
		             	<input type="file" name="logo"/>
	           		</if>
		           </td>
		        </tr>
		         <tr>
		           <td>背景图</td>
		           <td>
		            <if condition="$we['we_back']!=$z">
			            <img src="__ROOT__/Upload/We/{$we.we_back}" style="max-width: 200px;"/>
			            <a href="__APP__/We/dback.html" onclick="if(confirm('确定删除当前背景图?')==false)return false;">更换背景图片</a>
			        <elseif condition="$we['we_back']==$z"/>	
			            <input type="file" name="back"/>
			        </if>
		           </td>
		        </tr>
		        <tr>
		           <td width="120">公司名称</td>
		           <td>
		           	<input type="text" name="name" value="{$we.we_name}"/>
		           </td>
		        </tr>
		        <tr>
		            <td width="120">联系方式</td>
		            <td><input type="text" name="phone" value="{$we.we_phone}"/></td>
		        </tr>
		        <tr>
		            <th colspan="2">
		               <input type="submit" value="修改"/>
		            </th>
		        </tr>
		      </table>
			</form>
		</center>
    </body>
</html>
