<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> - {$title['item_name']} - 微信功能  </title>
        <link rel="stylesheet" href="__ROOT__/Public/admin/admin.css">
        <style>
        		a {
                        text-decoration: none;
                      }
                      .brand {
                          width: 100%;
               	     /*background: #C6F2B3;*/
                          line-height: 30px;
                          margin: 8px;
                      }
                      .brand a:hover {
                        text-decoration: underline!important;
                      }
        </style>
    </head>
    	<center>
            <!-- {$title['item_name']} - 微信功能  -->
             
			<include file="Public:header"/>
			<div class="brand">
		                 <a href="__APP__/Item/index.html" style="text-decoration: none; color: red;">项目管理</a> /  {$title['item_name']} - 微信功能 
		            </div> 
			<br>
			<form name="frm" method="post" enctype="multipart/form-data"  action="{:U('Item/onItem',array('id'=>$showitem['item_id']))}" onkeydown="if(event.keyCode==13)return false;">
		      <table border="1" width="" align="center" cellspacing="0" cellpadding="8">
		        <tr>
				   <th colspan="2">微信功能</th>
				</tr>
		        <tr>
		           <td width="120">标题</td>
		           <td width="120">
		           	{$wx.wx_title}
		           </td>
		        </tr>
		        <tr>
		           <td>简介</td>
		           <td>
		           	{$wx.wx_desc}
		           </td>
		        </tr>
		        <tr>
		           <td>图片</td>
		           <td>
		             <img src="{$wx.wx_imgUrl}" style="max-width: 200px;"/>
		           </td>
		        </tr>
		        <tr>
		            <td>首页Link</td>
		            <td> 
		            {$wx.wx_link}
				    </td>
		        </tr>
		        <tr>
		            <th colspan="2">
		              <if condition="$wx!=false">
		               	<a href="__APP__/Item/wxd/i/{$i}.html" onclick="if(confirm('确定删除该微信功能?')==false)return false;">删除</a>
		              <elseif condition="$wx==false"/>
		                <a href="__APP__/Item/wxnew/i/{$i}.html">新建</a>
		              </if>
		            </th>
		        </tr>
		      </table>
			</form>
		</center>
    </body>
</html>
