/* ------- This is the CSS Reset ------- */
#nav {
		height: 30px;
		width: 100%;
		background-color: #c6f3b4;
		text-align: center;
}
#nav ul {
		margin: 0 0 0 30px;
		padding: 0px;
		font-size: 12px;
		font-weight:blod;
		color: #FFF;
		line-height: 30px;
		white-space: nowrap;
}
#nav li {
		list-style-type: none;
		display: inline;
}
#nav li a {
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		padding: 7px 10px;
		color: #fff;
}
#nav li a:hover {
		color: #ff0;
		background-color: #f00;
}
